body {
    background-color: #8A9A5B;
    font-family: 'Courier New', Courier, monospace
}
main {
    margin-left: 100px;
	margin-right: 100px;
    font-size: 20px;
}
header, h1, h2, h3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header, footer
{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
    font-size: 18px;
}
header {
    border-bottom: 2px solid aliceblue;
}
p {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 80px;
    color:aliceblue;
}

li{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 80px;
    color: aliceblue;
}
ul {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 80px;
    color: aliceblue;
}
footer {
    text-align: center;
    border-top: 2px solid aliceblue;
}
figcaption {
    text-align: center;
    font-style: italic;
}
nav {
    font-family: 'Courier New', Courier, monospace;
    color:bisque
}
div {
    text-align: center;
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #FBCEB1;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }

  th, td { 
    border-top-width: 2px; 
    border-bottom-width: 2px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: black; 
    border-style: solid;
    padding: .2em 1em .2em .5em;
    text-align: left;
    vertical-align: middle;
  }
  table {
    border-collapse: collapse;
    border: 1px solid black;
    margin: 20px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
tbody tr:nth-child(even) td {
    background-color: #D6EEEE;
}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    padding-bottom: 2em;
  }
  fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
  }
  
  fieldset:last-of-type {
    border-bottom: none;
  }
  input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
input[type="submit"],[type="reset"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #3b3b4f;
    border-color: white;
    min-width: 300px;
    color: aliceblue;
  }
  
  input[type="file"] {
    padding: 1px 2px;
  }
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  input, textarea {
    background-color: #3b3b4f;
    border: 1px solid #0a0a23;
    color: #ffffff;
    font-family: 'Courier New', Courier, monospace;
  }
  label {
    display: block;
    margin: 0.5rem 0;
  }
  .calculator {
    padding: 10px;
    border-radius: 1em;
    height: 380px;
    width: 400px;
    margin: auto;
    background-color: #191b28;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.display-box {
    font-family: 'Orbitron', sans-serif;
    background-color: #dcdbe1;
    border: solid black 0.5px;
    color: black;
    border-radius: 5px;
    width: 100%;
    height: 65%;
}

#btn {
    background-color: #fb0066;
}

input[type=button] {
    font-family: 'Orbitron', sans-serif;
    background-color: #64278f;
    color: white;
    border: solid black 0.5px;
    width: 100%;
    border-radius: 5px;
    height: 70%;
    outline: none;
}

input:active[type=button] {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
    -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
    box-shadow: inset 0px 0px 5px #c1c1c1;
}
table, th, td {        
  border: 1px solid black;       
  border-collapse: collapse;       
  }        
  th, td {           
  padding: 15px;         
  }  