body {
    background-color: #8A9A5B;
    font-family: 'Courier New', Courier, monospace
}
main {
    margin-left: 100px;
	margin-right: 100px;
    font-size: 20px;
}
header, h1, h2, h3 {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header, footer
{
	margin-top: 50px;
	margin-bottom: 50px;
	text-align: center;
    font-size: 18px;
}
header {
    border-bottom: 2px solid aliceblue;
}
p {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 150px;
    margin-left: 80px;
    color:aliceblue;

}

li{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 80px;
    color: aliceblue;
}
ul {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 100px;
    margin-left: 80px;
    color: aliceblue;
}
footer {
    text-align: center;
    border-top: 2px solid aliceblue;
}
figcaption {
    text-align: center;
    font-style: italic;
}
nav {
    font-family: 'Courier New', Courier, monospace;
    color:bisque
}
center{
    text-align: center;
    color:aliceblue;
}
div {
    text-align: center;
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: #FBCEB1;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }
  